{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Team Members</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a class="btn btn-outline-secondary btn-md mb-4" href="{{ url_for('account.invite_admin') }}">+ Add</a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<!-- Custom styles for this template -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      {% for user in users %}
        {% if user['role'] == 'admin' %}
        <div class="card mb-4">
          <a href="{{ url_for('account.edit_admin', id=user._id) }}" class="card-block clearfix">
            <div class="card-body">
              {{ user.first_name }} {{ user.last_name }}
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
