{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Team Members</h1>
</div>
{% endblock %}

{% block body %}
<!-- Custom styles for this template -->

<div class="container pt-5">
  <a class="btn btn-primary btn-lg mb-4 float-right" href="{{ url_for('account.invite_admin') }}">+ Add User</a>
  <div class="container">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {% for user in users %}
        {% if user['role'] == 'admin' %}
        <tbody>
          <tr>
            <a href="{{ url_for('account.edit_admin', id=user._id) }}">
              <td>{{ user.first_name }}</a></td>
              <td>{{ user.last_name }}</td>
              <td>
                {% if not user['confirmed'] %}
                <a href="{{ url_for('account.edit_admin', id=user._id) }}" class="card-link oi oi-pencil"></a>
                {% endif %}
                <a href="{{ url_for('account.delete_admin', id=user._id) }}" class="card-link oi oi-trash"></a>
              </td>
            </a>
          </tr>
        </tbody>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
