{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% set active_page = "team" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="{{ url_for('listing.listings') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Team</li>
  </ol>
</nav>
{% endblock %}

{% block header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="text-uppercase">Team</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a class="btn btn-outline-secondary btn-md mb-4" href="{{ url_for('account.invite_admin') }}">+ Add</a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<!-- Custom styles for this template -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      {% for user in users %}
        {% if user['role'] == 'admin' %}
        <div class="card mb-4">
          <a href="{{ url_for('account.edit_admin', id=user._id) }}" class="card-block clearfix">
            <div class="card-body">
              {{ user.first_name }} {{ user.last_name }}
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}

      {% if count == 1 %} <!-- it's 1 because of the realtor -->
        <p class="font-weight-light font-italic text-center"><br>You're flying solo!<br><br>Add a team member to give admin access to your account</p>
      {% endif %}

    </div>

  </div>
</div>

{% endblock %}
