{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block body %}

<!--https://www.codeply.com/go/JVP2nxfv0p/bootstrap-4-forms-->

<div class="col-md-6 offset-md-3 pt-5">
  <!-- form card login with validation feedback -->
  <div class="card card-outline-secondary">
      <div class="card-header">
          <h3 class="mb-0 d-inline">Login</h3>
          <span class="float-right mt-1"><a class="text-secondary" href="{{ url_for('account.forgot_password') }}">Forgot Password?</a></span>
      </div>
      <div class="card-body">
          <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
              {{ form.hidden_tag() }}
              <div class="form-group">
                  {{ form.email (class="form-control", placeholder="Email")}}
              </div>
              <div class="form-group">
                  {{ form.password (class_="form-control", placeholder="Password")}}
              </div>
              <div class="form-check small">
                  <label class="form-check-label">
                      {{ form.remember_me (class_="form-check-input")}} <span>Remember me on this computer</span>
                  </label>
              </div>
              <button type="submit" class="btn btn-secondary btn-lg float-right" id="btnLogin">Login</button>
          </form>
      </div>
      <!--/card-body-->
  </div>
  <!-- /form card login -->
</div>

{% endblock %}
