{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Steps</h1>
  <p class="lead">View all your steps</p>
</div>
{% endblock %}

{% block body %}
<!-- Custom styles for this template -->

<a class="btn btn-primary btn-lg mb-4 float-right" href="{{ url_for('account.add_step') }}">+ Add Step</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  {% for step in steps %}
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ step.name }}</td>
      <td><a href="{{ url_for('account.edit_step', id=step._id) }}" class="card-link">Edit</a></td>
      <td><a href="{{ url_for('account.delete_step', id=step._id) }}" class="card-link">Delete</a></td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>

{% endblock %}
