{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">App Steps</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a class="btn btn-primary btn-md mb-4 float-right" href="{{ url_for('configuration.add_app_step') }}">+ Add</a>
      <button id="sortorder" class="expander btn btn-outline-primary btn-md mb-4 ml-2">Sort</a>
      <button id="saveorder" style="display:none" class="btn btn-outline-primary btn-md mb-4 ml-2">Save</a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<!-- Custom styles for this template -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <div class="card border-bottom-0 border-left-0 border-right-0 border-top-0">
          <div class="card-body">
            <strong>
              <span class="col-md-10">Name</span>
              <span class="col-auto float-right">Days before close</span>
            </strong>
          </div>
        </a>
      </div>

      <div id="sortable">
      {% for app_step in app_steps %}
        <div id="{{ app_step._id }}" class="card mb-4">
          <a href="{{ url_for('configuration.edit_app_step', id=app_step._id) }}" class="card-block clearfix">
            <div class="card-body">
              <span class="col-md-10">{{ app_step.name }}</span>
              <span class="col-auto float-right">{{ app_step.days_before_close if app_step.days_before_close else '-' }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
