{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% set active_page = "settings" %}

{% set action = "Add" %}
{% if template_step != [] %}
  {% set action = "Edit" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('listing.listings') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('configuration.app_templates') }}">Templates</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('configuration.app_template_steps', id=id) }}">Template</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ action }} Step</li>
  </ol>
</nav>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

<div class="col-md-8 offset-md-2 pt-5">
  <!-- form card login with validation feedback -->
  <div class="card card-outline-secondary">
      <div class="card-header">
          <h3 class="mb-0 d-inline-block">{{ action }} Step</h3>
          <!-- Don't show delete because it's a new step -->
          {% if action == "Edit" %}
            <a class="btn btn-outline-danger float-right" href="#" role="button" data-toggle="modal" data-target="#deleteModal">Delete</a>
          {% endif %}
      </div>
      <div class="card-body">
          <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
              {{ form.hidden_tag() }}
              <div class="form-row mb-3">
                <div class="col">
                  <label for="inputName">Step</label>
                  {{ form.name (class_="form-control")}}
                </div>
                <div class="col-xs">
                  <label for="inputDays">Days Before Close</label>
                  {{ form.days_before_close (class_="form-control")}}
                </div>
              </div>
              <div class="form-row mb-3">
                <div class="col">
                  <label for="inputNotes">Notes</label>
                  {{ form.notes (class_="form-control")}}
                </div>
              </div>
              <button type="submit" class="btn btn-secondary float-right" id="btnLogin">Save</button>
          </form>
      </div>
      <!--/card-body-->
  </div>
  <!-- /form card login -->
</div>

<!-- Delete Confirm Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        By deleting this step, this step will no longer be added to new listings that are created when using this template.<br><br>
        Click delete to remove this step.
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-danger float-right" href="{{ url_for('configuration.delete_app_template_step', id=id, step_id=step_id) }}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
