altgraph==0.10.2
asn1crypto==0.24.0
backports-abc==0.5
bdist-mpkg==0.5.0
blinker==1.4
boto==2.48.0
certifi==2018.4.16
chardet==3.0.4
Click==7.0
decorator==4.4.1
Flask==1.1.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
Flask-WTF==0.14.2
gunicorn==20.0.4
idna==2.8
infinity==1.4
intervals==0.8.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
prettytable==0.7.2
PTable==0.9.2
pycparser==2.18
PyJWT==1.7.1
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.14.0
tabulate==0.8.6
twilio==6.35.3
urllib3==1.25.6
validators==0.14.2
Werkzeug==0.16.0
WTForms==2.2.1
WTForms-Components==0.10.4
xmltodict==0.12.0
