boto==2.48.0
decorator==4.3.0
Flask==0.12.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-PyMongo==0.5.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
py2app==0.7.3
pymongo==3.6.1
pyparsing==2.0.1
python-dateutil==1.5
python-editor==1.0.3
pytz==2013.7
twilio==6.3.dev0
validators==0.12.2
virtualenv==15.1.0
Werkzeug==0.14.1
WTForms==2.1
WTForms-Components==0.10.3
