{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="text-uppercase">Listings</h1>
</div>

{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <a class="btn btn-outline-secondary btn-md mb-4" href="{{ url_for('listing.add_listing') }}">+ Add</a>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle mr-2 float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="?sort=closing">Closing date</a>
          <a class="dropdown-item" href="?sort=inactive">Oldest update</a>
          <a class="dropdown-item" href="?sort=created">Recently created</a>
          <a class="dropdown-item" href="?sort=updated">Recently updated</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
  {% for listing in listings %}
    <div class="card mb-4 inline-block">
      <a href="{{ url_for('listing.listing_steps', id=listing._id) }}" class="card-block clearfix">
        <div class="card-header">
           <span class="font-weight-bold text-uppercase">{{ listing.name }}</span>
           {% if listing.close_date %}<span class="text-success float-right">{{ listing.close_date | pretty_date("%B %-d")}}</span>{% endif %}
         </div>
        <div class="progress" style="height: 10px;">
          {% set complete = listing.steps | selectattr("complete_date") | list | count %}
          {% set incomplete = listing.steps | selectattr("active") | rejectattr("complete_date") | list | count %}
          {% set percent = (complete/(incomplete+complete)) * 100|round|int if (incomplete + complete) > 0 else 0  %}
          <div class="progress-bar bg-success" role="progressbar"
            style="width: {{ percent }}%"
            aria-valuenow="{{ percent }}"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% if listing.photo %}
          <img src="{{ url_for('listing.get_photo', photo=listing.photo) }}" style="height:150px;" class="w-100 mx-auto d-block">
        {% else %}
          <img src="{{ url_for('listing.get_photo', photo="placeholder.jpg") }}" style="height:150px;" class="w-100 mx-auto d-block">
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            {{ listing.address1 }}
            {% if listing.address2 %}
              {{ listing.address2 }}
            {% endif %}
            <br>{{ listing.city }}, {{ listing.state }} {{ listing.zip }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          {% if listing.steps | selectattr("active") | rejectattr("complete_date") | first | count > 1 %}
            <li class="list-group-item d-inline-block text-truncate"><b>Next Step:</b> {{ (listing.steps | selectattr("active") | rejectattr("complete_date") | first).name }}</li>
          {% else %}
            <li class="list-group-item d-flex justify-content-between"><b>Closed</b></li>
          {% endif %}
        </ul>
        <div class="card-footer">
          <small class="text-muted">Updated on {{ listing.update_date | pretty_date }}</small>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
