{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

<div class="col-md-6 offset-md-3 pt-5">

    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0 d-inline-block">Add/Edit Listing</h3>
            {% if id %}
            <a class="btn btn-outline-danger float-right" href="#" role="button" data-toggle="modal" data-target="#deleteModal">Delete</a>
            {% endif %}
        </div>
        <div class="card-body">
            <form action="" method="POST" name="form" class="form" enctype="multipart/form-data" role="form">
              {{ form.hidden_tag() }}
                <div class="form-row">

                  <div class="col-2"></div>
                  <div class="house-pic col-8 mb-3 text-center">

                  {% if photo %}
                    <img src="{{ url_for('listing.get_photo', photo=photo) }}" class="w-100 img-thumbnail rounded mx-auto d-block">
                  {% else %}
                    <img src="{{ url_for('listing.get_photo', photo="placeholder.jpg") }}" class="w-100 img-thumbnail rounded mx-auto d-block">
                  {% endif %}

                    <div class="edit"><a><span class="oi oi-pencil edit_photo" title="Edit Photo"></span></a></div>
                    <div id="browse" style="display:none;" class="mt-3">{{ form.photo(class_="form-control") }}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Name *</label>
                  {{ form.name (class_="form-control")}}
                </div>

                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label class="form-control-label">Closing Date</label>
                    {{ form.close_date (class_="form-control")}}
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-control-label">Closing Time</label>
                    {{ form.close_time (class_="form-control")}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Address *</label>
                  {{ form.address1 (class_="form-control")}}
                </div>
                <div class="form-group">
                  <label class="form-control-label">Address Line 2</label>
                  {{ form.address2 (class_="form-control")}}
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label class="form-control-label">City *</label>
                    {{ form.city (class_="form-control")}}
                  </div>
                  <div class="col-md-3 mb-3">
                    <label class="form-control-label">State *</label>
                    {{ form.state (class_="form-control")}}
                  </div>
                  <div class="col-md-3 mb-3">
                    <label class="form-control-label">Zip *</label>
                    {{ form.zip (class_="form-control")}}
                  </div>
                </div>
                <div class="form-group row"></div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    {% if id %}
                    <a class="btn btn-outline-secondary" href="#" role="button" data-toggle="modal" data-target="#completeModal">Complete</a>
                    {% endif %}
                    {% if not id %}
                    <div class="col-md-3 mb-3">
                      <label class="form-control-label">Templates</label>
                      {{ form.templates (class_="form-control")}}
                    </div>
                    {% endif %}
                    <input type="submit" class="btn btn-secondary float-right" value="Save">
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Complete Confirm Modal -->
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        By marking this listing complete, it will be removed from your active listings.<br><br>
        You will be able to retrieve it for 30 days using the status filter on the listings page.<br><br>
        Click continue to complete the listing.
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-secondary" href="{{ url_for('listing.complete_listing', id=id) }}" role="button">Continue</a>
      </div>
    </div>
  </div>
</div>

<!-- Delete Confirm Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        By deleting this listing, you will no longer be able to view or reactivate this listing.<br><br>
        To close a completed listing, click the "complete" button on the edit page rather than the "delete" button.<br><br>
        Click delete to remove this listing from your account.
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-danger float-right" href="{{ url_for('listing.delete_listing', id=id) }}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
