<!-- javascript sort will require a csrf token so need to set it here -->
<meta name="csrf-token" content="{{ csrf_token() }}">

{% set active_page = "listings" %}

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('listing.listings') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listing</li>
  </ol>
</nav>
{% endblock %}

{% block header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="text-uppercase">{{ listing.name}}</h1>
  {% if days_left == 1 %}<p class="lead">{{days_left}} day until closing</p>
  {% elif days_left > 1 %}<p class="lead">{{days_left}} days until closing</p>
  {% else %}<p class="lead">No closing date yet</p>
  {% endif %}
</div>
{% endblock %}

{% block body %}
<div class="container">

  <!-- note the below is duplicated on this page twice.
  because I wanted it to display in the right column on desktop
  but on mobile I just wanted the first card in the right column
  to be at the top -->
  <!-- THIS IS MOBILE ONLY -->
  <div class="card mb-2 d-md-none d-lg-none d-xl-none" style="border: none;">
    {% if current_user.get_role() != 'client' and current_user.get_role() != 'partner' %}
    <div class="row">
      <div class="col">
        <a class="btn btn-outline-secondary btn-block mb-4" href="{{ url_for('listing.add_listing_step', id=id) }}">+ Add</a>
      </div>
      <div class="col">
        {% if listing_steps %}
        <button id="sortordermobile" class="expander btn btn-outline-secondary btn-block">Sort</button>
        <button id="saveordermobile" style="display:none; margin-top:0px;" class="btn btn-outline-secondary btn-block">Save</button>
        {% else %}
        <button class="expander btn btn-outline-secondary disabled btn-block">Sort</button>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col">
        <button id="showhidemobile" class="btn btn-outline-secondary btn-block mb-4" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="completed">Show completed</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div id="sortable">
        {% for listing_step in listing_steps %}

        {% if listing_step.steps.complete_date %}
          {% set border_color = 'gray '%}
        {% elif listing_step.steps.status == 'red' %}
          {% set border_color = 'indianred' %}
        {% elif listing_step.steps.status == 'yellow' %}
          {% set border_color = 'khaki' %}
        {% else %}
          {% set border_color = 'seagreen '%}
        {% endif %}

          <div {% if listing_step.steps.complete_date %} class="collapse multi-collapse" {% endif %} id="{{ listing_step.steps._id }}">
          <div id="{{ listing_step.steps._id }}" class="card mb-4 listingstep collapse multi-collapse" style="border-left-width:10px; border-color: lightgray lightgray lightgray {{border_color}};">

            {% if current_user.get_role() != 'client' and current_user.get_role() != 'partner' %}
            <a href="{{ url_for('listing.edit_listing_step', id=id, step_id=listing_step.steps._id) }}" class="card-block clearfix">
            {% endif %}
              <div class="card-header">
                <div class="row">
                  <div class="col font-weight-bold text-uppercase">
                    {{ listing_step.steps.name }}
                  </div>
                  <div class="col">
                    {% if listing_step.steps.complete_date %}
                       <span class="text-success float-right">Completed</span>
                    {% elif listing_step.steps.due_date %}
                       {% if listing_step.steps.due_date.strftime('%H:%M:%S') != '00:00:00' %}
                         <span class="text-success float-right">{{ listing_step.steps.due_date | pretty_date("%a, %-m/%-d at %-I:%M %p") }}</span>
                       {% else %}
                         <span class="text-success float-right">{{ listing_step.steps.due_date | pretty_date("%a, %-m/%-d") }}</span>
                       {% endif %}
                     {% endif %}
                  </div>
                </div>
               </div>
              <div class="card-body">
                <p class="card-text">{{ listing_step.steps.notes }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated {{ listing_step.steps.update_date | pretty_date(convert_to_tz=True)}}</small>
                {% if listing_step.steps.attachment %}
                  {% if current_user.get_role() != 'client' and current_user.get_role() != 'partner' %}
                  <span class="oi oi-paperclip float-right"></span>
                  {% else %}
                  <a style="color: #000;" class="float-right" href="{{ url_for('listing.get_attachment', attachment=listing_step.steps.attachment) }}"><span class="oi oi-paperclip"></span></a>
                  {% endif %}
                {% endif %}
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      {% if listing.close_date %}
        {% set border_color = 'seagreen' %}
      {% else %}
        {% set border_color = 'indianred '%}
      {% endif %}

      <div id="closing" class="card mb-4" style="border-left-width:10px; border-color: lightgray lightgray lightgray {{border_color}};">
        {% if current_user.get_role() != 'client' and current_user.get_role() != 'partner' %}
        <a href="{{ url_for('listing.edit_listing', id=id) }}" class="card-block clearfix">
        {% endif %}
        <div class="card-header">
           <span class="font-weight-bold text-uppercase">Closing</span>
           <span class="text-success float-right">{{ listing.close_date | pretty_date("%A, %B %-d") if listing.close_date else "TBD"}}</span>
         </div>
          <div class="card-body">
            <p class="card-text">You're expected closing date is {{ listing.close_date | pretty_date("%A, %B %-d") if listing.close_date else "TBD"}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{ listing.update_date | pretty_date }}</small>
          </div>
        </a>
      </div>

    </div>

    <!-- note the below is duplicated on this page twice.
    because I wanted it to display in the right column on desktop
    but on mobile I just wanted the first card in the right column
    to be at the top -->
    <div class="col">
      <div class="card mb-4 d-none d-md-block" style="border: none;">
        {% if current_user.get_role() != 'client' and current_user.get_role() != 'partner' %}
        <div class="row">
          <div class="col">
            <a class="btn btn-outline-secondary btn-block mb-4" href="{{ url_for('listing.add_listing_step', id=id) }}">+ Add</a>
          </div>
          <div class="col">
            {% if listing_steps %}
            <button id="sortorder" class="expander btn btn-outline-secondary btn-block">Sort</button>
            <button id="saveorder" style="display:none; margin-top:0px;" class="btn btn-outline-secondary btn-block">Save</button>
            {% else %}
            <button class="expander btn btn-outline-secondary disabled btn-block">Sort</button>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col">
            <button id="showhide" class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="completed">Show completed</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
                <h5 class="card-title">Listing Info</h5>
            </div>
            {% if current_user.get_role() != 'client' and current_user.get_role() != 'partner' %}
            <div class="col">
              <a href="{{ url_for('listing.edit_listing', id=id) }}" class="btn btn-outline-secondary btn-sm float-right">Edit</a>
            </div>
            {% endif %}
          </div>
          <div class="row align-items-center justify-content-center mt-2">
            <span class="text-success text-uppercase"><strong>Closing: {{ listing.close_date | pretty_date("%A, %b %-d") if listing.close_date else "TBD"}}</strong></span>
          </div>
          {% if listing.photo %}
            <img src="{{ url_for('listing.get_photo', photo=listing.photo) }}" class="w-100 img-thumbnail rounded mx-auto d-block mt-3 mb-3">
          {% else %}
            <img src="{{ url_for('listing.get_photo', photo="placeholder.jpg") }}" class="w-100 img-thumbnail rounded mx-auto d-block mt-3 mb-3">
          {% endif %}
          <p class="card-text">
            {{ listing.address1 }}<br>
            {% if listing.address2 %}
              {{ listing.address2 }}<br>
            {% endif %}
            {{ listing.city }}, {{ listing.state }} {{ listing.zip }}
          </p>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col">
                <h5 class="card-title">Clients</h5>
            </div>
            {% if current_user.get_role() != 'partner' %}
            <div class="col">
              <a href="{{ url_for('listing.invite_viewer', id=id, role='client') }}" class="btn btn-outline-secondary btn-sm float-right">Add</a>
            </div>
            {% endif %}
          </div>
          {% if clients_count > 0 %}
          <div class="list-group mt-2">
            {% for user in users %}
              {% if user['role'] == 'client' %}
                <a href="{{ url_for('listing.edit_viewer', id=id, viewer_id=user._id) }}" class="list-group-item list-group-item-action">{{ user.first_name }} {{ user.last_name }}

                {% if user['confirmed'] == False %}
                  <span class="float-right badge badge-secondary">invited</span>
                {% else %}
                  {% if user['email_alert'] == True %}
                    <span class="oi oi-envelope-closed ml-2 float-right" title="email alerts on"></span>
                  {% else %}
                    <span class="oi oi-envelope-closed ml-2 float-right" style="color:lightgray;" title="email alerts off"></span>
                  {% endif %}

                  {% if user['text_alert'] == True %}
                    <span class="oi oi-phone ml-2 float-right" title="text alerts on"></span>
                  {% else  %}
                    <span class="oi oi-phone ml-2 float-right" style="color:lightgray;" title="text alerts off"></span>
                  {% endif %}
                {% endif %}

                </a>
              {% endif %}
            {% endfor %}
          </div>
          {% else %}
            <p class="font-weight-light font-italic text-center"><br>No clients added yet.<br><br>Add a client so he/she can login and receive automatic updates.</p>
          {% endif %}
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col">
                <h5 class="card-title">Partners</h5>
            </div>
            {% if current_user.get_role() != 'partner' %}
            <div class="col">
              <a href="{{ url_for('listing.invite_viewer', id=id, role='partner') }}" class="btn btn-outline-secondary btn-sm float-right">Add</a>
            </div>
            {% endif %}
          </div>
          {% if partners_count > 0 %}
          <div class="list-group mt-2">
            {% for user in users %}
              {% if user['role'] == 'partner' %}
                <a href="{{ url_for('listing.edit_viewer', id=id, viewer_id=user._id) }}" class="list-group-item list-group-item-action">{{ user.first_name }} {{ user.last_name }}

                {% if user['confirmed'] == False %}
                  <span class="float-right badge badge-secondary mt-2">invited</span>
                {% else %}
                  {% if user['email_alert'] == True %}
                    <span class="oi oi-envelope-closed ml-2 mt-2 float-right" title="email alerts on"></span>
                  {% else %}
                    <span class="oi oi-envelope-closed ml-2 mt-2 float-right" style="color:lightgray;" title="email alerts off"></span>
                  {% endif %}

                  {% if user['text_alert'] == True %}
                    <span class="oi oi-phone ml-2 mt-2 float-right" title="text alerts on"></span>
                  {% else  %}
                    <span class="oi oi-phone ml-2 mt-2 float-right" style="color:lightgray;" title="text alerts off"></span>
                  {% endif %}
                {% endif %}
                <br>
                <span class="small text-lowercase">{{ user['partner_type'] }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </div>
          {% else %}
            <p class="font-weight-light font-italic text-center"><br>No partners added yet</p>
          {% endif %}
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h5 class="card-title">Realtor Info</h5>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="list-unstyled ml-4">
                  <li class="font-weight-bold">{{realtor.first_name}} {{realtor.last_name}}</li>
                  <li>{{realtor.email}}</li>
                  <li>{{realtor.cell}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col">
                <h5 class="card-title">Attachments</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {% set attachments = {'exist': False} %}
              <div class="list-group mt-2">
              {% for listing_step in listing_steps %}
                {% if listing_step.steps.attachment %}
                  <a href="{{ url_for('listing.get_attachment', attachment=listing_step.steps.attachment) }}" class="list-group-item list-group-item-action">{{ listing_step.steps.name }}</a>
                  {% if attachments.update({'exist': True}) %} {% endif %}
                {% endif %}
              {% endfor %}
              </div>
              {% if attachments.exist == False %}
                <p class="font-weight-light font-italic text-center"><br>No attachments yet!</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

{% endblock %}
