{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% set active_page = "listings" %}

{% set action = "Add" %}
{% if listing_step != [] %}
  {% set action = "Edit" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('listing.listings') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('listing.listing_steps', id=id) }}">Listing</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ action }} Listing Step</li>
  </ol>
</nav>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

<div class="col-md-8 offset-md-2 pt-5">

    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0 d-inline-block">{{action }} Listing Step</h3>
            {% if action == "Edit" %}
            <a class="btn btn-outline-danger float-right" href="#" role="button" data-toggle="modal" data-target="#deleteModal">Delete</a>
            {% endif %}
        </div>
        <div class="card-body">
            <form action="" method="POST" name="form" class="form" enctype="multipart/form-data" role="form">
              {{ form.hidden_tag() }}
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label class="form-control-label">Name *</label>
                    {{ form.name (class_="form-control")}}
                  </div>
                  <div class="col-md-3 mb-3">
                    <label class="form-control-label">Scheduled Date</label>
                    {{ form.due_date (class_="form-control")}}
                  </div>
                  <div class="col-md-3 mb-3">
                    <label class="form-control-label">Scheduled Time</label>
                    {{ form.time (class_="form-control")}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12 mb-3">
                    <label class="form-control-label">Notes</label>
                    {{ form.notes (class_="form-control")}}
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3 mb-3">
                    <label class="form-control-label">Status *</label>
                    {{ form.status(class_="form-control") }}
                  </div>
                  {% if attachment %}
                  <div class="col-md-9 mb-3">
                    <label class="form-control-label">Attachment</label><br>
                    <a class="btn btn-outline-secondary" href="{{ url_for('listing.get_attachment', attachment=attachment) }}" role="button">View Attachment</a>
                    &nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-secondary"><span class="edit_photo" title="Edit Photo">Upload New</span></a>
                    <div id="browse" style="display:none;" class="mt-3">{{ form.attachment(class_="form-control") }}</div>
                  </div>
                  {% else %}
                  <div class="col-md-9 mb-3">
                    <label class="form-control-label">Attachment</label>
                    {{ form.attachment(class_="form-control") }}
                  </div>
                  {% endif %}
                </div>
                <div class="form-group row"></div>
                <div class="form-group row">
                    <div class="col-lg-12" text-right"">
                      {% if id %}
                      <a class="btn btn-outline-secondary" href="#" role="button" data-toggle="modal" data-target="#completeModal">Complete</a>
                      {% endif %}
                      <input type="submit" class="btn btn-secondary float-right" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Complete Confirm Modal -->
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        By marking this step complete, it will be hidden from the listing.<br><br>
        Click continue to complete the step.
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-secondary" href="{{ url_for('listing.complete_listing_step', id=id, step_id=step_id) }}" role="button">Continue</a>
      </div>
    </div>
  </div>
</div>

<!-- Delete Confirm Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        By deleting this listing step, you will remove this step from the listing.<br><br>
        To complete a listing step, click the "complete" button on the edit page rather than the "delete" button.<br><br>
        Click delete to remove this step from your listing.
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-danger float-right" href="{{ url_for('listing.delete_listing_step', id=id, step_id=step_id) }}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
