{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% set active_page = "listings" %}

{% set completed = False %}
{% if request.args.get('completed') == 'true': %}
    {% set completed = True %}
{% endif %}

{% block header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="text-uppercase">Listings</h1>
  {% if completed == True %}<p class="lead">Completed in the last 30 days</p>{% endif %}
</div>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <a class="btn btn-outline-secondary btn-md mb-4" href="{{ url_for('listing.add_listing') }}">+ Add</a>
    </div>
    <div class="col-8">
      {% if completed == False %}
      <div class="dropdown1">
        <button class="btn btn-outline-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item {% if request.args.get('sort') == 'closing' %} active {% endif %}" href="?sort=closing">Closing date</a>
          <a class="dropdown-item {% if request.args.get('sort') == 'inactive' %} active {% endif %}" href="?sort=inactive">Oldest update</a>
          <a class="dropdown-item {% if request.args.get('sort') == 'created' %} active {% endif %}" href="?sort=created">Recently created</a>
          <a class="dropdown-item {% if request.args.get('sort') == 'updated' or not request.args.get('sort')%} active {% endif %}" href="?sort=updated">Recently updated</a>
        </div>
      </div>
      {% endif %}
      <div class="dropdown2">
        <button class="btn btn-outline-secondary dropdown-toggle mr-2 float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item {% if completed == False %} active {% endif %}" href="?completed=false">Active</a>
          <a class="dropdown-item {% if completed == True %} active {% endif %}" href="?completed=true">Completed</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
  {% for listing in listings %}
    <div class="card mb-4 inline-block">
      {% if completed == False %}<a href="{{ url_for('listing.listing_steps', id=listing._id) }}" class="card-block clearfix">{% endif %}
        <div class="card-header">
           <span class="font-weight-bold text-uppercase">{{ listing.name }}</span>
           {% if completed == True %}
              <span class="float-right"><a href="{{ url_for('listing.reactivate_listing', id=listing._id) }}" class="btn btn-outline-secondary btn-sm float-right">Reactivate</a></span>
           {% elif listing.close_date %}
              <span class="text-success float-right">{{ listing.close_date | pretty_date("%B %-d")}}</span>
           {% else %}
              <span class="text-success float-right">No closing date</span>
           {% endif %}
         </div>
        <div class="progress" style="height: 10px;">
          {% set complete = listing.steps | selectattr("complete_date") | list | count %}
          {% set incomplete = listing.steps | selectattr("active") | rejectattr("complete_date") | list | count %}
          {% set percent = (complete/(incomplete+complete)) * 100|round|int if (incomplete + complete) > 0 else 0  %}
          <div class="progress-bar bg-success" role="progressbar"
            style="width: {{ percent }}%"
            aria-valuenow="{{ percent }}"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% if listing.photo %}
          <img src="{{ url_for('listing.get_photo', photo=listing.photo) }}" style="height:150px;" class="w-100 mx-auto d-block">
        {% else %}
          <img src="{{ url_for('listing.get_photo', photo="placeholder.jpg") }}" style="height:150px;" class="w-100 mx-auto d-block">
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            {{ listing.address1 }}
            {% if listing.address2 %}
              {{ listing.address2 }}
            {% endif %}
            <br>{{ listing.city }}, {{ listing.state }} {{ listing.zip }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          {% if completed == True %}
            <li class="list-group-item d-flex justify-content-between"></li>
          {% elif listing.steps | selectattr("active") | rejectattr("complete_date") | first | count > 1 %}
            <li class="list-group-item d-inline-block text-truncate"><b>Next Step:</b> {{ (listing.steps | selectattr("active") | rejectattr("complete_date") | first).name }}</li>
          {% else %}
            <li class="list-group-item d-flex justify-content-between"><b>Closed</b></li>
          {% endif %}
        </ul>
        <div class="card-footer">
          <small class="text-muted">Updated on {{ listing.update_date | pretty_date }}</small>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
