html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* make card clickable */
a.card-block { color: black; text-decoration: none; }


/* ensure the cards are all the same width
and that a card deck can't have some really wide cards
at the end */
.card-deck {
  display: grid;
}

@media (min-width: 0) {
  .card-deck {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 580px) {
  .card-deck {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .card-deck {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* hover over image for edit button */
.edit {
	top: 10px;
	right: 25px;
	position: absolute;
}

.edit a {
	color: #000;
}

/* remove rounded corners on progress bar */
.progress {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* make the dropdown text green (not blue) */
.container .dropdown .dropdown-menu a:focus
{
  color: #28a745;
  background-color: #fff;
  border-color: #28a745;
}

/* make the dropdown text green (not blue) */
.navbar .dropdown-menu a:focus
{
  color: #28a745;
  background-color: #fff;
  border-color: #28a745;
}
